@media screen and (min-width:600px){
    nav li{
        display:inline-block; /*ne jen inline ale inline-block*/
        padding: 10px 0 0;    /*toto by nefungovalo jen s inline*/  
    }
    #gallery li{
        width: 45%; /*kvuli marginu 2.5%*/
    }
}
/*pro pc*/
@media  screen and (min-width: 1000px) {
    #logo{
        float: left;
        width: 30%;
    }
    nav{
        float: right;
        width: 60%;
    }
    #gallery li{
        width: 28.3%; /*kvuli marginu 2.5%*/
        
    }
}
